[MASTER]

ignore=docs, __pycache__
disable=
	no-member,
	too-many-arguments,
	too-few-public-methods,
	logging-format-interpolation,
	missing-module-docstring,
	missing-class-docstring,
	relative-beyond-top-level,
	assignment-from-no-return,


